<ion-header>
  <ion-toolbar>
    <ion-title>All Contacts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item style="position: sticky; top: 20;">
    <ion-label>Search</ion-label>
    <ion-input type="text" #searchtext></ion-input>
  </ion-item>
  <ion-list>
    <div
      *ngFor="let i of originalContactList  | search : searchtext.value | sort: {property1: '_objectInstance', property2: 'displayName', order: 1} "
    >
      <div *ngFor="let j of i?._objectInstance.phoneNumbers">
        <ion-item *ngIf="j.value" (click)="goHome(j.value)">
          <ion-avatar
            item-left
            [style.backgroundColor]="randomColor()"
            style="display: flex; align-items: center; justify-content: center;"
          >
            {{ i._objectInstance.displayName | initials }} </ion-avatar
          >&nbsp;&nbsp;&nbsp;
          <ion-label>{{i._objectInstance.displayName}}</ion-label>
        </ion-item>
      </div>
    </div>
  </ion-list>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadExtraData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
