<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <div class="horizontal-center">
      <ion-button (click)="toContacts()"> All contacts </ion-button>
    </div>
    <div class="vertical-center">
      <ion-item *ngIf="_numberSelected.contactNumber">
        <ion-label>Number selected</ion-label>&nbsp;&nbsp;&nbsp;
        <ion-input type="number" name="title" [disabled]="true">
          {{_numberSelected.contactNumber}}
        </ion-input>
      </ion-item>
    </div>
  </div>
</ion-content>
